{% extends "base.html.twig" %}

{% block body %}

<h1>Catalogo de librox</h1>

{{ form_start(form, {'attr':{'class':'form-inline'} }) }}
<div class="form-group">
  {{ form_label(form.palabra_clave) }}
  {{ form_errors(form.palabra_clave) }}
  {{ form_widget(form.palabra_clave, {'attr':{'class':'form-control'} }) }}
</div>

<div class="form-group">
  {{ form_label(form.en) }}
  {{ form_errors(form.en) }}
  {{ form_widget(form.en, {'attr':{'class':'form-control'} }) }}
</div>
    
{% block form_row %}
{% spaceless %}
    {{ form_widget(form.save, {'attr':{'class':'btn btn-primary'} }) }}
{% endspaceless %}
{% endblock form_row %}

{{ form_end(form) }}

{{item.mensaje}}

{% if libros is defined %}
  {% for libro in libros %}
    <h1>{{ libro.titulo }}</h1>
  {% endfor %}
{% endif %}

{% endblock %}